#title, .center{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

button.center{
	background-color:burlywood;
	color:azure;
	font-size: 15pt;
	font-family:'Times New Roman', Times, serif;
	width: 10rem;
	height: 4rem;
	border-radius: 2%;
	margin-top: 1rem;
}

button.center:hover{
	background-color:aqua;
}

button.center:active{
	background-color:cadetblue;
}


#title{
	font-size: 50pt;
	font-family: 'Gill Sans';
	color:coral;
	text-align: center;
}

body{
	background-color: aquamarine;
}